/*
.fjalla-one-regular {
  font-family: "Fjalla One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/////////////////////
.righteous-regular {
  font-family: "Righteous", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/////////////////////
.galindo-regular {
  font-family: "Galindo", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/////////////////////
.chelsea-market-regular {
  font-family: "Chelsea Market", system-ui;
  font-weight: 400;
  font-style: normal;
}
/////////////////////
.cherry-cream soda-regular {
  font-family: "Cherry Cream Soda", system-ui;
  font-weight: 400;
  font-style: normal;
}
/////////////////////
.fondamento-regular {
  font-family: "Fondamento", cursive;
  font-weight: 400;
  font-style: normal;
}

.fondamento-regular-italic {
  font-family: "Fondamento", cursive;
  font-weight: 400;
  font-style: italic;
}
/////////////////////
.gruppo-regular {
  font-family: "Gruppo", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/////////////////////
.limelight-regular {
  font-family: "Limelight", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/////////////////////*/
/*////Variaveis/////////////////////////*/
:root { 
    --cor-pri: #000000;
    --cor-seg: #2C001E;
    --cor-fund: linear-gradient(to right,#B24592, #F15F79);
    --font-cab: "Mate SC", serif;

    --fonte-1: "Fjalla One", sans-serif;
    --fonte-2: "Righteous", sans-serif;
    --fonte-3: "Galindo", sans-serif;
}
/*/////////////////////////////////////*/
body{
    background-image: var(--cor-fund);
    width: 100%; /* Defina a largura desejada */
    height: 100%; /* Defina a altura desejada */
    overflow: hidden;
}
/*/////////////////////////////////////*/
.Menu__incial{
    margin: 5px 0;
    font-family: var(--font-cab);
}
.Menu__incial__links{
    display: flex;
    justify-content: flex-end;
}
.icone_tela_central{
    border: none;
    border-left: 2px solid var(--cor-pri);
    border-right: 2px solid var(--cor-pri);
    padding: 0 2%;
    margin: auto;
    font-size: 21px;
}
.Menu__Hanb{
    display: flex;
    flex-direction: column;
}
nav hr{
    border: 1px solid var(--cor-pri);
}
/*/////////////////////////////////////*/
.corpo__inicio{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.corpo__inicio h1{
    font-size: 29px;
    text-align: end;
    margin: 6% 3% 5px auto;
}

.corpo__inicio hr:nth-child(2) {
    width: 208px;
    border: 1px solid var(--cor-pri);
    margin: 0px 0px 0px auto;
}
.corpo__inicio hr:nth-child(3) {
    border: 0.5px solid var(--cor-pri);
    width: 37px;
    transform: rotate(90deg);
    margin: auto 40% 0px auto;
}

.corpo__inicio p{
    margin: 8% 3% 3% auto;
    font-size: 13px;
    text-decoration: underline;
}
.botão__R {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5px solid var(--cor-pri);
    padding: 5px;
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    margin: 20px auto;
    transform: rotate(10deg);

}
.botão__Rot{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5px solid var(--cor-pri);
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    padding: 2px;
    margin: 20px auto;
}
/***********************************************/


.list__palavras{

    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--cor-seg);

}

.lista_um{
    background-color: aqua;
    display: flex;

}

.lista_um p{
    margin: 20px 10px;
    font-family: var(--fonte-1);
    animation-delay: 0s;
    font-size: 30px;
    animation: anim_palav 5s linear infinite;
    position: fixed;
}

.lista_um p:nth-child(2){
    font-family: var(--fonte-2);
    animation-delay: -1.67s;
}
.lista_um p:nth-child(3){
    font-family: var(--fonte-3);
    animation-delay: -3.33s;
}
/*//////////////////*/
.lista_tres{
    display: flex;
}

.lista_tres p{
    margin: 20px 10px;
    font-family: var(--fonte-1);
    animation-delay: 0s;
    font-size: 30px;
    animation: anim_palav 5s linear infinite;
    position: fixed;
}
.lista_tres p:nth-child(2){
    font-family: var(--fonte-2);
    animation-delay: -1.67s;
}
.lista_tres p:nth-child(3){
    font-family: var(--fonte-3);
    animation-delay: -3.33s;
    
}
/*///////////////*/
@keyframes anim_palav { 
    0% { left: -50% }
    100% { left: 100% } 
}

/*///////////////*/

.lista_dois{
    display: flex;
    
}
.lista_dois p{
    margin: 20px 10px;
    font-family: var(--fonte-1);
    animation-delay: 0s;
    font-size: 30px;
    animation: anim_palavreve 5s linear infinite;
    position: fixed;
    top: 50%;
}
.lista_dois p:nth-child(2){
    font-family: var(--fonte-2);
    animation-delay: -1.67s;
}
.lista_dois p:nth-child(3){
    font-family: var(--fonte-3);
    animation-delay: -3.33s;
}
/*///////////////*/
@keyframes anim_palavreve {
    0% { left: 100% ; }
    100% { left: -50% } 
}
/*///////////////*/
.fundo_pag{
    position: absolute;
    bottom: 0;
}